target/
/canpoy
/input
/meigen
/meigen-canopy
/meigen-kmeans
/meigen-output
/meigen-seqfiles
/meigen-vectors
/meigen-wakati
/reuters
/reuters-canopy
/reuters-output
/reuters-seqfiles
/reuters-vectors
